* {
    margin: 0px;
    top: 0px;
    left: 1px;
}

html,
body {
    height: 100%;
}

body {
    background-image: url(./bg.jpg);
    background-size: cover;
}

#app {
    margin:2%;
    overflow: hidden;
    
}

div.question {
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 38px;
    top: 0px;
}

div.question span {
    padding: 20px;
    border-radius: 10px;
    border: 3px #ec72e6 solid;
    background: rgb(255, 237, 253);
}

div.result {
    font-size: 38px;
    color: rgb(99, 202, 233);
    background: rgb(243, 232, 78);
}

div.options-container {
    position: relative;
    height: calc(50% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    right: -16px;
    left: 10px;
    top: 24px;
}

div.option {
    min-height: 100px;
    max-height: 200px;
    margin: 20px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: rgb(233, 135, 236);
    opacity: 0.7;
}

div.option:hover {
    background: rgb(113, 221, 240);
    color: rgb(255, 255, 255);
    opacity: 0.9;
}

img.reset {
    position: absolute;
    right: 700px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

img.reset:hover {
    opacity: 0.6;
}