/* Split the screen in half */
.split {
    height: 60%;
    margin-top:100px;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: white;
    color: red;
    position: absolute;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
    color: blue;
    position: absolute;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  canvas {
      width: 308px;
      height: 204px;
      border: 1px solid #c3c3c3;
  }

  
 
  #my_dataviz {
    left: 0;
    width: 100%;
    background-color: lightgray;
    position: absolute;
    top: 748px;
    
  }
  #my_dataviz svg{
    position: relative;
    display: block;
    margin: auto;
   
  }